@import "tailwindcss";


:root {
  --bg: #F8F8F8;
  --text: #505050;
  --sans: system-ui, 'Segoe UI', Helvetica, sans-serif;
  --heading: system-ui, 'Segoe UI', Helvetica, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@theme {
  --color-primary: #F8F8F8;
  --color-secondary: #505050;
  --color-backgroundsecondary: #363c49;
  --color-square-blue: #566473;
  --color-square-red: #735656;
  --color-square-green: #567363;
  --color-square-yellow: #736D56;
}

.nav-button {
  @apply text-primary w-30 md:w-40 h-12 font-light px-4 py-2 rounded-sm hover:cursor-pointer hover:saturate-300 hover:scale-105 transition-all duration-200 ease-in-out;
}